.mainContainer{
display: flex;
font-family: 'Inter', sans-serif;
flex-direction: column;
align-items: center;
}

.headingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.searchContainer{
    display: flex;
  
    gap: 10px;
    margin-top: 40px;
    width:500px
}