.mainContainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    grid-gap: 36px;
    width:100%;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 20px;


}