.mainContainer{
position: sticky;
display: flex;
z-index: 2000;
width:100%;
background-color: rgb(252, 246, 239);
font-family: 'Inter', sans-serif;
align-self: flex-start;
padding:30px;
padding-top: 10px;
padding-bottom: 10px;
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-left: 50px;
}