.mainContainer{
display: flex;
font-family: 'Inter', sans-serif;
align-self: flex-start;
}
.logo{
   scale: 0.5;
}
.links{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin-left: 50px;
}